<table class="table" padding-top=20px>
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @elements.each do |t| %>
    <tr>
      <td><%= t.name %></td>
      <td align=center><%= link_to 'Update', edit_company_path(t) %></td>
      
      <td  align=right><%= link_to(image_tag("delete.png", class: 'image-responsive'), company_path(t), method: :delete, data: { confirm: 'Are you sure?' }) %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td></td>
    <td align=center>
    <%= button_to "Create", new_company_path, class: "btn btn-primary btn-sm round", :method => :get %>
    </td>
    <td></td>
  </tr>
  </tfoot>
</table>

